body {
    margin: 0;
    color: black;
    height: 100%;
    background-size: cover;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}


*, *::after, *::before {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
}

.borderless td, .borderless th {
    border: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HEADER */

.header {
    background-color: #fff;
    box-shadow: 9px 9px 9px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}

.header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: white;
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}

/* HAMBURGER */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* HAMBURGER BTN */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 700px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
    .header li {
        float: left;
    }
    .header li a {
        padding: 20px 30px;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
}

@media (min-width: 600px) {
    .sidenav {
        width: 16%;
        position: fixed;
        z-index: 1;
        top: 20px;
        left: 10px;
        background-color: white;
        overflow-x: hidden;
        padding: 8px 0;
        height: 100%;
    }

    .sidenav a {
        padding: 2px 10px 6px 30px;
        text-decoration: none;
        font-size: 15px;
        color: black;
        display: block;
        transition: 1s;
    }

    .sidenav a:hover {
        color: lightgrey;
        transition: 0.5s;
    }

    .main {
        margin-left: 18%; /* Same width as the sidebar + left position in px */
        margin-right: 5%;
        font-size: 28px; /* Increased text to enable scrolling */
        padding: 5% 10px;
        animation: fadeInAnimation ease 2s;
        animation-iteration-count: 1; 
        animation-fill-mode: forwards;
    }

    .hidden-desktop {
        display: none;
    }

    .card-hover {
        transition: 1s;
        opacity: 1;
    }
    
    .card-hover:hover {
        transition: 1s;
        opacity: 0.6;
    }
}

@media (max-width: 600px) {
    .hidden-mobile {
        display: none;
    }

    .main {
        margin-left: 5%; /* Same width as the sidebar + left position in px */
        margin-right: 5%;
        font-size: 28px; /* Increased text to enable scrolling */
        padding: 5% 10px;
        animation: fadeInAnimation ease 2s;
        animation-iteration-count: 1; 
        animation-fill-mode: forwards;
    }

    .card-hover {
        opacity: 1;
    }
    
    .card-hover:hover {
        opacity: 1;
    }

    .icon-mobile-width {
        width: 7%;
    }

}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#bottom {
    margin-bottom: 10px;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none;
}

/* LINKBORDER1 */
.linkborder {
display: inline-block;
color: #000;
text-decoration: none;
}

.linkborder::after {
content: '';
display: block;
width: 0%;
height: 2px;
background: #000;
transition: width 1s;
}

.linkborder:hover::after {
width: 100%;
transition: width 1s;
}


/* LINKBORDER2 */
.linkborder2 {
display: inline-block;
color: #000;
text-decoration: none;
}

.linkborder2::after {
content: '';
display: block;
width: 100%;
height: 2px;
background: #000;
transition: width 1s;
}

.linkborder2:hover::after {
width: 100%;
transition: width 1s;
}


.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}
    
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    z-index: 1;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}
    
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} 

